<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/user/Ilo_three.css" />

	</head>
	<body>
		<div class="login_top">
			<a class="login_top_bg" href="information1.html"></a>
			<div class="login_title1">历史交易</div>
		</div>
		<div class="content">
			<div class="ind_lump">
				<div class="ind_lump_pic"></div>
				<div class="ind_lump_wor">
					<div class="lump_wor_name"><span class="lump_name">东方金融中心</span><span class="three_rig">08/07</span></div>
					<span class="lump_addr">浦东-八佰伴</span><br/>
					<span class="lump_type">商务中心</span><br/>
					<div class="lump_money">
						<span class="mon_oran">&yen;7</span>
						<span class="mon_lef">元/平米/天起</span>
						<span class="mon_rig">佣金：1个月</span>
					</div>
				</div>
			</div>
			<div class="ind_lump">
				<div class="ind_lump_pic"></div>
				<div class="ind_lump_wor">
					<div class="lump_wor_name"><span class="lump_name">东方金融中心</span><span class="three_rig">08/07</span></div>
					<span class="lump_addr">浦东-八佰伴</span><br/>
					<span class="lump_type">商务中心</span><br/>
					<div class="lump_money">
						<span class="mon_oran">&yen;7</span>
						<span class="mon_lef">元/平米/天起</span>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../public/js/zepto.min.js"></script>
		<script src="../public/js/touch.js"></script>
		<script src="../public/js/zepto-fx.js"></script>
		<script src="../public/js/main-bottom.js"></script>
		<script src="../public/js/login/I_all.js"></script>
	</body>
</html>
