<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/user/release.css"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
</head>
	<body>
		<div class="login_top">
			<a class="login_top_bg" href="information1.html"></a>
			<div class="login_title1">我发布的需求</div>
		</div>
		<div class="release">
			<div class="release_title">
				一个新的租房需求
				<span class="time">08/04/13:06</span>
			</div>
			<div class="release_more">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m³/天左右，附近有地铁
			</div>
			<button class='more'>了解详情</button>
		</div>
	</body>
</html>
