<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/user/setting.css"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
</head>
	<body>
		<div class="login_top">
			<a class="login_top_bg" href="information1.html"></a>
			<div class="login_title1">设置</div>
		</div>
		<div class="set_demand">
			<span>接受需求</span>
			<div class="settint_anniu">
				<div class="setting_smallcircle"></div>
			</div>
		</div>
		<a href="about.html" class="set_demand">
			<span>关于</span>
			<a class="set_jiantou" href="javascript:0"></a>
		</a>
		<div class="set_demand set_demand1">
			<span>清除缓存</span>
			<a class="set_jiantou1" href="javascript:0">7.02M</a>
		</div>
		<div class="login_out">
			退出登录
		</div>
		<div class="clear_bg clear_bg2">
			<div class="clear_bg_info">
				<div class="clear_bg_info_title">您确定要清理缓存么？</div>
				<div class="clear_bg_info_bottom">
					<span class="clear_cancle">取消</span>					
					<span class="clear_sure">确定</span>
				</div>
			</div>
		</div>
		<div class="clear_bg clear_bg1">
			<div class="clear_bg_info">
				<div class="clear_bg_info_title">您确定要退出登录吗？</div>
				<div class="clear_bg_info_bottom">
					<span class="clear_cancle">取消</span>					
					<span class="clear_sure clear_sure1">确定</span>
				</div>
			</div>
		</div>
	<script src="../public/js/zepto.min.js"></script>
	<script src="../public/js/touch.js"></script>
 	<script src="../public/js/zepto-fx.js"></script>
 	<script src="../public/js/login/setting.js"></script>
	</body>
</html>
