<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../public/css/index/search.css"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
	</head>
	<body>
		<header class="search_top">
			<input class="search_search" type="text" name="" id="" value="" placeholder="挑好房，上活力矩阵"/>
			<span class="search_top_cancle">取消</span>
		</header>
		<div class="search_li">
			<div class="search_li_top"><span class="search_li_search">地铁</span><span>明珠苑</span></div>
			<div class="search_li_bottom"><span>崔建东路196弄</span></div>
		</div>
		<div class="search_li">
			<div class="search_li_top"><span>老西门</span><span class="search_li_search">地铁</span><span>站8/9号线</span>
			<div class="search_li_bottom"><span>金伟公寓</span></div>
		</div>
	</body>
</html>
