<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
		<!--<link rel="stylesheet" href="../public/css/issue/issue_search.css" />-->
		<!--<script src="../../public/js/issue_search.js"></script>-->
	</head>
	<body>
		<div class="search_box">
			<div class="ind_search">
				<img src="../../public/img/homepage/banner_icon_search@2x.png" alt="" />
				<span class="ind_search_wor">搜索想要发布的大楼</span>
				<i class="iss_x"></i>
			</div>
			<span onclick="window.open('issue.html','_self')" class="srh_cal">取消</span>
		</div>
	</body>
</html>
