<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/issue/issueneed.css" />
	
	</head>
	<body>
		<div id="issue_all" class="issue_all">
			<div class="head_deng">
				<span id="cancel" class="cha_cancel">取消</span>
				<span>发布需求</span>		
				<span id="issue" class="cha_confirm">发布</span>
			</div>
			<input type="text" placeholder="周杰伦"/>
			<input type="text" placeholder="18956214521"/>
			<textarea name="" rows="15" cols="15" >描述一下您的需求，比如黄埔100-200m&sup2;，5-6元/m&sup2;/天，环境好点，底层，临近地铁。</textarea>
		</div>
		
		<div id="issned_zhe" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">您确定要退出此次发布？</span>
				<span id="iss_can" class="cancel">取消</span>
				<span class="cancel confirm">确定</span>
			</div>
		</div>
		<div id="iss_succ" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">需求发布成功，请稍后</span>
				<span class="wipe_one">确定</span>
			</div>
		</div>
			<script src="../public/js/zepto.min.js"></script>
	<script src="../public/js/touch.js"></script>
		<script src="../public/js/issue/issueneed.js"></script>
	</body>
</html>
