<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/appoint/appoint_succ.css" />
		
	</head>
	<body>
		<div id="wipe_wi" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">预约看房成功</span>
				<span id="cancel" class="cancel">返回</span>
				<span  class="cancel confirm">查看预约详情</span>
			</div>
		</div>
		<script src="../public/js/appointdetails.js"></script>
	</body>
</html>
