<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<meta name="keywords" content="杭州赛技网络科技有限公司" />
		<meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
		<title>租房时代-杭州赛技网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/appoint/upload.css" />
		
	</head>
	<body>
		<div class="head_deng">
			<span id="up_cancel" class="cha_cancel">取消</span>
			<span>上传合同书</span>		
			<span id="up_confirm" class="cha_confirm">上传</span>
		</div>
		<div class="upload_all">
			<span class="up_wor">请按照要求添加照片</span>
			<div class="up_pic">
				<input type="file" name="" id="" value="" />
				<img src="../../public/img/order/content_icon_plus@2x.png" alt="" /></br>
				<span class="up_pic_wor">合同第一页</span>
			</div>
			<div class="up_pic">
				<input type="file" name="" id="" value="" />
				<img src="../../public/img/order/content_icon_plus@2x.png" alt="" /></br>
				<span class="up_pic_wor">合同最后一页</span>
			</div>
		</div>
		<div class="clear_bg">
			<div class="clear_bg_info">
				<div class="clear_bg_info_title">您确定要取消本次上传？</div>
				<div class="clear_bg_info_bottom">
					<span class="clear_cancle">取消</span>					
					<span class="clear_sure">确定</span>
				</div>
			</div>
		</div>
		<div class="bg">
			<div class="success_bg">
				<div class="waitting">合同书上传成功，后台正在审核</div>
				<div class="success_sure">确认</div>
			</div>
		</div>
		<script src="../public/js/zepto.min.js"></script>
		<script src="../public/js/touch.js"></script>
		<script src="../public/js/upload/upload.js"></script>
	</body>
</html>
