<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/login/register.css"/>

	<title>杭州瑞栎网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>

</head>
	<body>
		<div class="login">
		<div class="login_top">
			<a class="login_top_bg" href="javascript:0"></a>
			<div class="login_title">注册</div>
			<div class="register_login">登录</div>
		</div>
		<div class="login_bottom">
			<div class="login_user">
				<span>账号：</span>
				<div class="login_user_fg"><input type="text" id='register_text1'placeholder="请输入您的手机号" /></div>	
			</div> 
			<div class="login_user login_code">
				<span>验证码：</span>
				<div class="login_user_fg"><input type="text" id='register_code1'placeholder="请输入验证码" /></div>
				<button class="btn_code">获取验证码</button>
			</div> 				
			<div class="login_user login_pwd">
				<span>密码：</span>
				<div class="login_user_fg"><input type="password" id='register_pwd1' placeholder="请输入您的登录密码"/></div>
			</div>
			<div class="login_user login_pwd">
				<span>密码：</span>
				<div class="login_user_fg"><input type="password" id='register_pwd2' placeholder="请输入您的登录密码"/></div>
			</div>
			<div class="login_user login_agent">
				<span>身份：</span>
				<div class="login_agent_input login_user_fg"><input type="text" id='agent' placeholder="经纪人"/></div>
				<div class="login_agent_shenfen">
					<i class="login_agent_id"></i>
					<ul class="login_agent_kind">
						<li>经纪人</li>
						<li>小业主</li>
						<li>运营商</li>
						<li>代理商</li>
						<li class="login_agent_none">开发商</li>
					</ul>
				</div>
				
			</div>
			<div class="register_register">注册</div>
			<div class="register_agreement">
				注册即代表同意<span>《活力矩阵用户协议》</span>
			</div>
			
			<div class="register_bg">
				<div class="register_bg_date">
					<span class="register_bg_success">注册完成，等待确认</span>
					<span class="register_bg_sure">确认</span>
				</div>
			</div><div style="clear: both;"></div>
		</div>
	</div>
	<script src="../public/js/zepto.min.js"></script>
	<script src="../public/js/touch.js"></script>
 	<script src="../public/js/zepto-fx.js"></script>
	<script src='../public/js/login/register.js'></script>
	</body>
</html>
